<h2>View Recipes</h2>
<div class="card" *ngFor="let recipe of recipes">
  <h3 class="recipe-name">{{ recipe.name }}</h3>
  <p class="recipe-instructions">{{ recipe.instructions }}</p>
  <div class="comment-input">
    <input type="text" [(ngModel)]="recipe.newComment" placeholder="Add a comment" class="text-input">
    <button class="button" (click)="addComment(recipe)">Add Comment</button>
  </div>
  <p class="recipe-comments" *ngIf="recipe.comments.length > 0">
    Comments:
    <span *ngFor="let comment of recipe.comments" class="comment">{{ comment }}</span>
  </p>
</div>
